@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

h1 {
  color: white;
  padding: 0px;
  color: #fff;
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  margin: 0px;
}

.exchange-container {
  width: 100vw;
  font-family: Poppins;
}

.top-container,
.bottom-container {
  width: 100vw;
  height: 50vh;
}

.select-currency {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.select-currency h2 {
  color: white;
}

.top-container {
  background-color: #302d45;
  border-bottom: 2px solid rgba(79, 81, 87, 0.733);
}

.bottom-container {
  background-color: #222033;
}

.currency-container {
  display: flex;
  width: 70%;
}

.currency-container div {
  height: 3rem;
  width: 10rem;
  background: rgb(59, 73, 126);
  box-shadow: 0 1px 100px rgba(44, 139, 216, 0.589);
  transition: 0.5s ease-in;
  display: flex;
  justify-content: center;
  padding-top: 0rem;
  border: 1px solid rgba(255, 255, 255, 0.253);
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.currency-container div span {
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.currency-container div:hover {
  background: #ff2f2f;
  box-shadow: 0 7px 30px #ff2f2f;
  cursor: pointer;
}
